<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aquamarine;">
    <center >
        <h1>EMPLOYEE-TABLE</h1>
        <table border="2px" style="border-collapse: collapse;">
            <tr><th>EMPNO</th>
                <th>ENAME</th>
                <th>JOB</th>
                <th>MGR</th>
                <th>HIREDATE</th>
                <TH>SAL</TH>
                <TH>COMM</TH>
                <TH>DEPTNO</TH>
            </tr>
            {% for i in emp %}
            <tr>
                <td>{{i.EMPNO}}</td>
                <td>{{i.ENAME}}</td>
                <td>{{i.JOB}}</td>
                <td>{{i.MGR}}</td>
                <td>{{i.HIREDATE}}</td>
                <td>{{i.SAL}}</td>
                <td>{{i.COMM}}</td>
                <td>{{i.DEPTNO.DEPTNO}}</td>
            </tr>
            {% endfor %}
        </table>
    </center>
</body>
</html>